@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bar{
    width: 168px;
    height: 22px;
    background-color: #006341;
}

a.button{
    border: 2px solid #454545;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
}

a.button:hover{
    background-color: #454545;
    color: white;
}

h1{
    font-family: 'Oswald';
    font-size: 90px;
    font-weight: bold;
    line-height: 100px;
    margin: 0;
    margin-bottom: 30px;
}

h2{
    font-family: 'Oswald';
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    line-height: 45px;
    margin: 20px 0px;
}

header .line {
    background-color: #117050;
    height: 10px;
}

.container{
    max-width: 1144px;
    margin: auto;
}

.container.header--area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-left img{
    width: 64px;
    height: 64px;
}

.header-right{
    display: flex;
    align-items: center;
}

.header--search form{
    display: flex;
}

.header--search input{
    font-size: 16px;
    padding: 7px 10px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 220px;
}

.header--search button{
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header--search button img{
    width: 16px;
    height: 16px;
}

.header--menu{
    margin-left: 50px;
}

.header--menu img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

section.banner{
    background-color: #117050;
    background-image: url('../../media/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}

.banner-images{
    margin-top: 60px;
}

.banner-images img{
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 25px;
}

section.area1,
section.area2,
section.area3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1--content,
.area2--content{
    padding: 80px;
}

.area1--img2{
    grid-column-start: 2;
    grid-column-end:3;

    grid-row-start: 1;
    grid-row-end: 3;

    background-image: url('../../media/f1.jpg');
    background-size: cover;
    background-position: center;
}

.area1--quote{
    margin-bottom: 30px;
}

.area1--text,
.area2--text,
.area3--text{
    margin-bottom: 50px;
    line-height: 25px;
}

.area1--img1{
    
    background-image: url('../../media/f2.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
}

.area2--img1{
   
    background-image: url('../../media/f4.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
}

.area2--img2{
    grid-column-start: 1;
    grid-column-end:2;

    grid-row-start: 1;
    grid-row-end: 3;

    background-image: url('../../media/f3.jpg');
    background-size: cover;
    background-position: center;
}


.area3--content{
    padding: 200px 80px;
    background-image: url('../../media/bg2.jpg');
    background-size: cover;
    background-position: left;
}

.area3--img1{
    background-image: url('../../media/f5.jpg');
    background-size: cover;
    background-position: center;
}

.area4{
    display: grid;
    grid-template-columns: 450px 1fr;
    background-color: #e8e9ee;
}

.area4--content{
    padding: 150px 80px;
}

.area4--text{
    margin-bottom: 50px;
    line-height: 25px;
}

.area4--img1{
    background-image: url('../../media/bg3.jpg');
    background-position: left;
}

.area5{
    background-image: url('../../media/bg4.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}

footer{
    background-color: #333;
    color: white;
    padding: 80px;
    text-align: center;
}